<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>COVID-19 Tracker</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <h2>
                <a href="https://github.com/dbhaskaran/covid19-tracker"
                   target="_blank">COVID-19 Worldwide Data</a>
            </h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="padding-top: 30px;">
            <form action="search" method="POST" class="form-main">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <label class="sr-only" for="search">Search</label>
                    <div class="input-group">
                        <input type="text" class="form-control input-search"
                               name="country" id="search" placeholder="Search">
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="padding-top: 50px;">
                    <script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=CO6oEw3RaHKtpDqbEsnyI5wIIiyiPQg4cazaWIqyLUs"></script>
                </div>
            </form>
        </div>
    </div>
    <p>
        Powered by: <a href="https://github.com/CSSEGISandData/COVID-19"
                       target="_blank"> Ahmed Deeb </a>
    </p>
    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}" ></h1>
        <p class="lead">Total cases reported as of today</p>
        <hr class="my-4">
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total Reported Cases</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
